* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Rose", cursive;
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/pexels-maxyne-barcel-10402282\ 1.png);
  height: 100%;
  width: 100%;
  background-size: cover;
  padding: 10px;
}


a {
  text-decoration: none;
  color: #ffc233;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  margin-top: 13px;
}

.list {
  display: flex;
  align-items: center;
  gap: 63px;
  list-style: none;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffc233;
  cursor: pointer;
}

.logo,
.list-item {
  cursor: pointer;
}

.order button {
  padding: 11px 33px;
  background-color: #ff505f;
  border: none;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}
/* nav{
    padding: 14px;
    margin: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-right: 15%;
    }
 */

/* main section */
/* .hero section{
    max-width: 1154px;
    margin: 0 auto;
    text-align: center;
    margin-top: 119px;

  } */

.heading {
  font-family: "Dela Gothic One", cursive;
  font-style: normal;
  padding-top: 35px;
  font-weight: 400;
  width: 89%;
  font-size: 80px;
  line-height: 100px;
  padding-left: 18%;
  /* or 110% */
  color: #ffc233;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* button  */
.menu button {
  padding: 12px 40px;
  background-color: #ff505f;
  border: none;
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 700;
  margin-top: 50px;
  margin-left: 37%;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}

/* footer section  */
footer div {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
